/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 210px;
  top: 180px;
  margin: 0;
  padding: 0;
}

.foto {
  width: 300px;
  margin: o;
  padding: 0;
}

.hlavicka {
  display: flex;
  padding: 0;
  margin: 0;
}

body {
  width: 300px;
}

.profil {
  display: flex;
  flex-grow: 1;
  width: 50;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  border-spacing: 0;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jmeno {
  margin-top: 0;
}

.obsah {
  background-color: #31363b;
  color: white;
  padding: 30px;
  margin: 0;
  flex-grow: 1;
}



.odkazy li {
  display: flex;
  margin: 0;
  padding: 0;
}

.odkazy a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}


.odkazy {
  display: flex;
  flex-grow: 2;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  background-color: #31363b;
}

.portfolio,
.facebook,
.twitter {
  border: 1px solid #3f464d;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.portfolio {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 0;
  padding: 0;
}
.facebook {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.twitter {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}


.portfolio a:focus,
.portfolio a:hover,
.portfolio a:active {
    background-color: #e74c3c;
    flex-grow: 1;
    justify-content: center;
}

.facebook a:focus,
.facebook a:hover,
.facebook a:active {
    background-color: #3b5998;
    flex-grow: 1;
    justify-content: center;
}

.twitter a:focus,
.twitter a:hover,
.twitter a:active {
    background-color: #1da1f2;
    flex-grow: 1;
    justify-content: center;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/